<header>
  <nav>
    <mat-toolbar color="primary">
      <a mat-button routerLink="home">Home</a>
      <ng-container *ngFor="let microfrontend of mfService.microfrontends">
        <a mat-button [routerLink]="microfrontend.routePath">
          {{ microfrontend.displayName }}
        </a>
      </ng-container>
      <span class="spacer"></span>
      <a mat-button href="https://github.com/mario7cr" target="_blank">
        <img
          width="22"
          height="22"
          src="../assets/github-circle-white-transparent.svg"
          alt="Github logo"
          class="self-center"
        />
      </a>
    </mat-toolbar>
  </nav>
</header>

<router-outlet></router-outlet>
