<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="start stretch"
  fxLayoutGap="1rem"
>
  <h2>Profile (Microfrontend)</h2>
  <p>
    This profile component is being remotely loaded into the application using
    Module Federation, angular is shared so the download is minimal for the
    frontend
  </p>

  <mat-card>
    <mat-card-content>
      <form [formGroup]="profileForm" novalidate>
        <div flexLayout="row" flexLayoutAlign="start center">
          <div fxFlex="250px">
            <mat-form-field fxFill appearance="standard">
              <mat-label>Enter your name</mat-label>
              <input matInput formControlName="name" required />
              <mat-error
                *ngIf="
                  controls.name.invalid &&
                  (controls.name.dirty || controls.name.touched)
                "
              >
                Name is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div flexLayout="row" flexLayoutAlign="start center">
          <div fxFlex="250px">
            <mat-form-field fxFill appearance="standard">
              <mat-label>Enter your email</mat-label>
              <input
                matInput
                placeholder="your.email@example.com"
                formControlName="email"
                required
              />
              <mat-error
                *ngIf="
                  controls.email.invalid &&
                  (controls.email.dirty || controls.email.touched)
                "
              >
                <span *ngIf="controls.email.errors?.required">
                  Email is required.
                </span>
                <span *ngIf="controls.email.errors?.email">
                  Email invalid.
                </span>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div flexLayout="row" flexLayoutAlign="start start" class="form-submit">
          <button
            mat-raised-button
            color="primary"
            (click)="addUser(controls.name.value, controls.email.value)"
            [disabled]="profileForm.pristine || profileForm.invalid"
          >
            Create User
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <app-profile-list-user></app-profile-list-user>

  <!--mat-card>
    <lib-mdmf-shared></lib-mdmf-shared>
  </mat-card-->
</div>
